
<div class="wrapper">

	<div class="mainWrapper">
        <div class="leftHolder">
            <div class="errorNumber">404</div> 
        </div>
        <div class="rightHolder">
            <div class="message"><p>Ops! Nosso servidores não conseguiram processar sua requisição! Prometemos aumentar nossa capacidade.</p></div>
            <div class="robotik"><img src="/assets/robotik.png" alt="Oooops....Não sei oq houve!." title="Oooops....não consigo localizar sua solicitação!." id="robot"></div>
            <div class="tryToMessage">
                Talvez tenha acontecido:
                <ul>
                    <li>A URL não é valida!</li>
                    <li>Você já prencheu a pesquisa!</li>
                    <li>Essa turma nunca existiu. O-O </li>
                </ul>
            </div>
            <!-- Search Form -->
         
            <!-- end .search -->
          </div>
      


        <footer>
        <p class="copy">&copy 2017 All rights reserved.</p>
        <menu>
         
            <li class="last"><a href="http://www.projetooportunidade.com.br" title="Contact">Contato</a></li>
        </menu>
        </footer>
        <!-- end footer -->

	</div>

</div>
<!-- end .wrapper -->
