    <section class="hero is-small">
      
<div class="column is-half-desktop is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Todas as Turmas
            </p>
            <div class="panel-block">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Instrutor</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Nome</th>
                    <th>Instrutor</th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Angular2 </td>
                    <td>Leonardo Gloria</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Java</td>
                    <td>Elberth</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Certificação SCJP</td>
                    <td>Leonardo Gloria</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </section>
        </div>
    </section>
