  
  <div class="columns">
    <aside class="column is-2 aside hero is-fullheight is-hidden-mobile">
      <div>
        <div class="main">
          <div class="title">Main</div>
          <a href="#" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span></a>
           <a routerLink="/turmas" class="item" routerLinkActive="active"><span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Turmas</span></a>
          <a href="#" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Timeline</span></a>
          <a href="#" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Folders</span></a>
        </div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              Pesquisa de Satisfação - Dashboard
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu is-hidden-tablet">
            <a href="#" class="nav-item is-active">
              Dashboard
            </a>
            <a href="#" class="nav-item">
               <a routerLink="/turmas" routerLinkActive="active">Turmas</a>
            </a>
            <a href="#" class="nav-item">
              Timeline
            </a>
            <a href="#" class="nav-item">
              Folders
            </a>
          </div>
        </div>
      </nav>
  <router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>Pesquisa de Satisfação</strong> by <a href="http://github.com/leonardogloris">Leonardo Gloria</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/leonardogloria/">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>